<!DOCTYPE html>
<html>
  <head>
    <title>Associate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <p><%= current_user.username %></p>
      <br/>
      <%= link_to 'Log Out', logout_path, method: :delete %>
    <% else %>
      <p>You are not logged In</p>
      <%= link_to 'Log in', '/login' %>
    <% end %>
    <%= yield %>
  </body>
</html>
